<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="Public API WSL">

    <featureManager>
        <feature>adminCenter-1.0</feature>
        <feature>webProfile-9.1</feature>
    </featureManager>

    <basicRegistry id="basic">
        <user name="admin" password="password"/>
    </basicRegistry>

    <administrator-role>
        <user>admin</user>
    </administrator-role>

    <remoteFileAccess>
        <writeDir>${server.config.dir}</writeDir>
    </remoteFileAccess>

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <applicationManager autoExpand="true"/>

    <webApplication id="Upskill" location="Upskill.war" name="Upskill"/>
</server>